﻿@model WebCliente.Models.ViewModel.persona
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Personas</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                <div id="navbarColor01">
                    <a class="navbar-brand" href="#">Gestión de Personas</a>
                    <a class="navbar-brand" href="#">|</a>
                    <a class="navbar-brand" href="@Url.Action("Ingresar","Usuario")">Gestión de Usuarios</a>
                    <a class="navbar-brand" href="#">|</a>
                    <a class="navbar-brand" href="@Url.Action("index","login")">Salir</a>
                </div>
            </div>
        </nav>
        <br />
        <div class="row col-sm-12">
            <h4>Registrar Personal</h4> 
            @if (Model.respuesta != null)
            {
                if (Model.respuesta == "Ok")
                {
                    <div class="col-md-3 alert alert-success alert-dismissible fade show" role="alert" id="al_alerta" style="margin-left:15%">
                        <strong>Ingreso Exitoso!!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-md-3 alert alert-danger alert-dismissible fade show" role="alert" id="al_alerta" style="margin-left:15%">
                        <p>@Model.respuesta</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

            }
            
        </div>
        <hr style="border-width: 1px; border-style:solid" />

        <div class="col col-md-12" style="align-content:center">
            @using (Html.BeginForm("Ingresar", "Persona", FormMethod.Post, new { id = "frm_Insert" }))
            {
                <div class="row">
                    <div class="col col-lg-3 form-group">
                        <label for="primerNombre" class="form-label mt-4">Primer Nombre</label>
                        @Html.EditorFor(model => model.Prim_Nombre, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "" } })
                        @Html.ValidationMessageFor(model => model.Prim_Nombre, null, new { @class = "text-danger" })
                    </div>
                    <div class="col col-lg-3  form-group">
                        <label for="segundoNombre" class="form-label mt-4">Segundo Nombre</label>
                        @Html.EditorFor(model => model.Sec_Nombre, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "" } })

                    </div>
                    <div class="col col-lg-3  form-group">
                        <label for="primerApellido" class="form-label mt-4">Primer Apellido</label>
                        @Html.EditorFor(model => model.Prim_Apellido, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Prim_Apellido, null, new { @class = "text-danger" })
                    </div>
                    <div class="col col-lg-3  form-group">
                        <label for="segundoApellido" class="form-label mt-4">Segundo Apellido</label>
                        @Html.EditorFor(model => model.Sec_Apellido, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "" } })
                        @Html.ValidationMessageFor(model => model.Sec_Apellido, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-3 form-group">
                        @*lista de tipo documento*@
                        <label for="tipoIdentificacion" class="form-label mt-4">Tipo de Identificación</label>
                        @Html.DropDownListFor(model => model.TipoIdentificacion, (IEnumerable<SelectListItem>)ViewBag.TipoDoc, new { htmlAttributes = new { @class = "form-control dropdown-menu ", @type = "input", required = "required" } })
                        @Html.ValidationMessageFor(model => model.TipoIdentificacion, null, new { @class = "text-danger" })
                    </div>
                    <div class="col col-lg-3  form-group">
                        <label for="numerodeIdentificacion" class="form-label mt-4">Número de Identificación</label>
                        @Html.EditorFor(model => model.NumeroIdentificacion, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "", required = "required" } })
                    </div>
                    <div class="col col-lg-3  form-group">
                        <label for="email" class="form-label mt-4">Correo Electrónico</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "", @type = "email", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="col col-lg-3  form-group mt-3">
                        <button type="submit" class="btn btn-info btn-block " id="btn_Reg">Registrar usuario</button>
                        <a href="@Url.Action("Ingresar","Persona")" class="btn btn-outline-danger btn-block">Cancelar Registro</a>
                    </div>
                </div>
            }

        </div>

        <hr style="border-width: 1px; border-style:solid" />
        <h4>Personal registrado</h4>
        <div style="overflow-y: scroll; overflow-x: hidden; height: 200px; ">
            @if (Model.lstPersona.Count > 0)
            {
                <table class="table table-hover">
                    <thead style="position: sticky; text-align: center; top: 0; z-index: 10; background-color: #2c3e50; color:aliceblue">
                        <tr>
                            <th scope="col">Identificación</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Fecha de registro</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">

                        @foreach (var pr in Model.lstPersona)
                        {
                            <tr class="table-active">
                                <td>@pr.Concat_Identificacion</td>
                                <td>@pr.Concat_Nombres</td>
                                <td>@pr.FechaCreacion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>Sin registros por mostrar por ahora.</h3>
            }

        </div>

    </div>

</body>
</html>
