﻿@model WebCliente.Models.ViewModel.login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Propios/propios.js"></script>
    <link href="~/Content/icons/css/all.css" rel="stylesheet">
</head>
<body class="container container-fluid">
    <br />
    <div style="height:280px;display:flex;justify-content:center">
        <div style="height:280px; margin-top:15%;margin-right:10%">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "frm_Logueo" }))
            {

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="User" class="col-sm-3">Usuario</label>
                        </div>
                        <div class="col col-lg-9 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-user" id="basic-addon1"></span>
                            </div>
                            @Html.EditorFor(model => model.user, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "Ingresa Usuario" } })
                            @Html.ValidationMessageFor(a => a.user, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="User" class="col-sm-3">Password</label>
                        </div>
                        <div class="col col-lg-9 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-lock" id="basic-addon1"></span>
                            </div>
                            @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa Contraseña", type = "password" } })
                            @Html.ValidationMessageFor(a => a.pass, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col col-lg-9 input-group mb-3">
                            <button type="submit" class="btn btn-outline-info btn-block " onclick="wait()" id="btn_Ing">Ingresar</button>
                        </div>
                    </div>
                </div>

            }

            
            @try
            {
                if (@Model.respuesta == "")
                {
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-sm-9 alert alert-danger alert-dismissible fade show" role="alert" id="al_alerta">
                            <strong>Error al conectar!</strong>
                            <p>Usuario o contraseña errados</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="close()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                }
                else if (@Model.respuesta == "Ok")

                {
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col col-sm-5 input-group mb-3">
                            <a href="@Url.Action("Ingresar","Persona")" class="btn btn-outline-success btn-block">Gestionar Personas</a>
                        </div>
                        <div class="col col-sm-4 input-group mb-3">
                            <a href="@Url.Action("Ingresar","Usuario")" class="btn btn-outline-dark btn-block">Gestionar Usuarios</a>

                        </div>
                    </div>
                }

            }
            catch (Exception)
            {

                throw;
            }

        </div>
    </div>
</body>
</html>