﻿@model WebCliente.Models.ViewModel.usuarios
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Personas</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/Propios/propios.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                <div id="navbarColor01">
                    <a class="navbar-brand" href="@Url.Action("Ingresar","Persona")">Gestión de Personas</a>
                    <a class="navbar-brand" href="#">|</a>
                    <a class="navbar-brand" href="#">Gestión de Usuarios</a>
                    <a class="navbar-brand" href="#">|</a>
                    <a class="navbar-brand" href="@Url.Action("index","login")">Salir</a>
                </div>
            </div>
        </nav>
        <br />
        <div class="row col-sm-12">
            <h4>Registrar Usuario</h4>
            @if (Model.respuesta != null)
            {
                if (Model.respuesta == "Ok")
                {
                    <div class="col-md-3 alert alert-success alert-dismissible fade show" role="alert" id="al_alerta" style="margin-left:15%">
                        <strong>Ingreso Exitoso!!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-md-3 alert alert-danger alert-dismissible fade show" role="alert" id="al_alerta" style="margin-left:15%">
                        <p>@Model.respuesta</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

            }

        </div>
        <hr style="border-width: 1px; border-style:solid" />

        <div class="col col-md-12" style="align-content:center">
            @using (Html.BeginForm("Ingresar", "Usuario", FormMethod.Post, new { id = "frm_Insert" }))
            {
            <div class="row">
                <div class="col col-lg-3 form-group">
                    <label for="Usuario" class="form-label mt-4">Usuario</label>
                    @Html.EditorFor(model => model.user, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.user, null, new { @class = "text-danger" })
                </div>
                <div class="col col-lg-3  form-group">
                    <label for="Password" class="form-label mt-4">Contraseña</label>
                    @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control  ", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.pass, null, new { @class = "text-danger" })
                </div>
                <div class="col col-lg-3  form-group">
                    <label for="Password" class="form-label mt-4">Repetir Contraseña</label>
                    @Html.EditorFor(model => model.passComp, new { htmlAttributes = new { @class = "form-control  ", @type = "password", @onchange = "compare()" } })
                    @Html.ValidationMessageFor(model => model.passComp, null, new { @class = "text-danger" })
                    <div id="msg_Comp">
                        <i class="alert-danger">Contraseñas no coinciden</i>
                    </div>
                </div>

                <div class="col col-lg-3  form-group mt-3">
                    <button type="submit" class="btn btn-info btn-block " id="btn_Reg">Registrar usuario</button>
                    <a href="@Url.Action("Ingresar","Usuario")" class="btn btn-outline-danger btn-block">Cancelar Registro</a>
                </div>
            </div>
            }

        </div>

        <hr style="border-width: 1px; border-style:solid" />
        <h4>Usuarios registrados</h4>
        <div style="overflow-y: scroll; overflow-x: hidden; height: 200px; ">
            @if (Model.lstUsuarios.Count > 0)
            {
                <table class="table table-hover">
                    <thead style="position: sticky; text-align: center; top: 0; z-index: 10; background-color: #2c3e50; color:aliceblue">
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Contraseña</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">

                        @foreach (var pr in Model.lstUsuarios)
                        {
                            <tr class="table-active">
                                <td>@pr.user</td>
                                <td><input type="password" value="@pr.pass" disabled/></td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>Sin registros por mostrar por ahora.</h3>
            }

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#msg_Comp').hide();
            $('#btn_Reg').attr('disabled',true);
            
        });
    </script>
</body>
</html>
